header {
  font-family: sans-serif;
}
nav ul li {
  display: inline;
}
.location1 .location2 .location3 .location4 .location5 {
  display:inline;
}
.spanImage img {
  position: relative;
  background-size: 100%;
}

h1 h2 h3 {

}

p {

}

* {
  background-color: #AA6339;
}


table {
  border-style: dashed;
}
