body {
  background-color: #8F3B1B;
}

header {
  font-family: sans-serif;
  display:inline;
  width: 100%;
}

header ul {
  width: 100%;
}

nav {
  background-color: #404F24;
}
nav ul li {
  display: inline;
  font-weight: bold;
  width: 100%;
  background-color: #404F24;
}
header img {
    display: inline;
    height: 3%;
    width: 3%;
    float:left;
    margin-right: 1%;
}

.spanImage {
  background-size: 100%;
}

.locationsContainer {
    display: inline;
    width: auto;

}
.location {
  display: inline-block;
  width: 16%;
  font-family: sans-serif;
  margin: 1%;
  padding: 1%;
  border: 2px solid green;
  border-radius: 10%;
  background-color: #668D3C;
}



table {
  border-style: dashed;
}

.Resources ul {
  list-style-type: none;
  padding-left: 1%;
}
